.postsBlock {
    padding: 10px;
}

.postsBlock h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.buttonWrapper button {
    color: #eeeeee;
    background: #e84545;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-size: 22px;
    padding-top: 3px;
    margin-bottom: 10px;
}

.buttonWrapper button:hover {
    background-color: #fa7d00;
    transition: 0.2s linear background-color;
}

.posts {
    margin-top: 40px;
}

.posts button {
    width: 50px;
    height: 20px;
    border-radius: 6px;
    background-color: rgba(0, 163, 250, 0.83);
}

